
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">Small Intro about us </p>
                        <a class="aboutus-more" href="#">read more</a>
                    </div>
                </div>
                
              
                </div>
            </div>
        </div>
